.column {
  background-color: #f4f6f9;
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 8px;
  min-height: 200px;
  border: 2px dashed #ddd;
  min-width: 180px;
  max-width: 250px;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 180px;
}
.column.Proposal{
  background-color: #dee783 !important;
}




.stage-name {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

